
// first-page

.first-page {
      height: 100vh;
      background-image: url(../../img/main-bg-car.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    
      @media screen and (max-width: 420px) {
        background-image: url("../../img/mobile-bg.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-position-y: 115%;
        background-size: contain;
        background-color: #000;
        height: 100%;
      }
    }
    .first-page__inner {
      display: flex;
      justify-content: space-between;
      padding-top: 140px;
      padding-bottom: 100px;
    
      @media screen and (max-width: 992px) {
        justify-content: center;
        text-align: center;
      }
    
      @media screen and (max-width: 420px) {
        padding-top: 100px;
        padding-bottom: 272px;
      }
    }
    .first-page__left {
      @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
      }
      @media screen and (max-width: 420px) {
        align-items: flex-start;
      }
    }
    .first-page__suptitle {
      font-family: Geometria;
      color: #4d4d4d;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 14px;
    
      @media screen and (max-width: 992px) {
        text-align: center;
      }
      @media screen and (max-width: 420px) {
        text-align: left;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .first-page__title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 520px;
      font-size: 50px;
      font-weight: 250;
      line-height: 60px;
      color: #fff;
      margin-bottom: 23px;
    
      .small-img {
        display: none;
    
        @media screen and (max-width: 992px) {
          display: block;
          margin-left: 16px;
          width: min-content;
          height: min-content;
        }
      }
    
      .title-box {
        display: flex;
        width: fit-content;
    
        span {
          width: 55px;
          height: 55px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #4d4d4d;
          background-color: #0e0e0e;
          border-radius: 50%;
    
          &:not(:first-child) {
            margin-left: -12px;
          }
          &:first-child {
            margin-left: 12px;
          }
        }
      }
    
      @media screen and (max-width: 992px) {
        justify-content: center;
        text-align: center;
    
        font-size: 37px;
        font-weight: 250;
        line-height: 45px;
    
        .title-box {
          justify-content: center;
          align-items: center;
          span {
            display: none;
          }
        }
      }
      @media screen and (max-width: 420px) {
        text-align: left;
        justify-content: flex-start;
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 38px;
      }
    }
    .first-page__subtitle {
      font-size: 24px;
      font-weight: 250;
      line-height: 29px;
      display: flex;
      gap: 16px;
      color: #fff;
      margin-bottom: 60px;
    
      @media screen and (max-width: 420px) {
        margin-bottom: 33px;
        line-height: 20px;
        gap: 10px;
      }
    }
    .first-page__btn {
      font-family: TurismoCF;
      letter-spacing: 0.15em;
      font-size: 11px;
      font-weight: 800;
      line-height: 13px;
      color: #000;
      background-color: #e1c98a;
      padding: 28px 66px;
      border-radius: 136px;
      outline: none;
      border: none;
      margin-bottom: 50px;
      cursor: pointer;
    
      @media screen and (max-width: 420px) {
        justify-self: center;
        font-size: 10px;
        line-height: 12px;
      }
    }
    .first-page__vector {
      font-family: Geometria;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      display: flex;
      align-items: center;
      gap: 30px;
      color: #4d4d4d;
    
      p {
        max-width: 191px;
      }
    
      span {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 36px 16px;
        border: 1px solid #4d4d4d;
        border-radius: 100px;
      }
    
      @media screen and (max-width: 420px) {
        display: none;
      }
    }
    .first-page__right {
      display: flex;
      gap: 28px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    
      a {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 250;
        line-height: 19px;
        letter-spacing: 0.1em;
        display: flex;
        gap: 10px;
        color: #fff;
    
        p {
          border-bottom: 1px solid #fff;
        }
      }
    
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    
    // text-page video-page
    
    .text-page {
      width: 100%;
      height: 96px;
      background-color: #000;
      background-image: url("../../img/bg-img-text.png");
      background-repeat: no-repeat;
      background-position: center;
    
      @media screen and (max-width: 992px) {
        height: 48px;
        background-position: top left;
      }
      @media screen and (max-width: 420px) {
        background-image: url("../../img/bg-img-text-mob.png");
        background-position: top left;
        background-size: cover;
      }
    }
    .video-page {
      background-color: #000;
    }
    .video-page__inner {
      background-image: url("../../img/video-page-img-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 30px 30px 0 0;
      padding: 200px 0;
      font-size: 70px;
      font-weight: 250;
      line-height: 84px;
      color: #e1c98a;
      text-align: center;
      display: flex;
      justify-content: center;
    
      p {
        max-width: 430px;
        @media screen and (max-width: 420px) {
          font-size: 20px;
          font-weight: 250;
          line-height: 24px;
          max-width: 110px;
        }
      }
    
      @media screen and (max-width: 992px) {
        padding: 100px 0;
      }
      @media screen and (max-width: 420px) {
        padding: 100px 0 40px 0;
        background-position: center;
        background-size: cover;
        // background-image: url("@img/video-page-img-bg-mob.png");
        margin-top: -17px;
      }
    }
    
    // advantages-page
    
    .page-advantages {
      width: 100%;
      padding-bottom: 40px;
      background-color: #000;
    }
    .page-advantages__inner {
      display: flex;
      flex-direction: column;
    }
    .page-advantages__top {
      color: #fff;
      padding: 80px 0 410px 0;
      text-align: center;
      background-image: url("../../img/adv-page-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
    
      h3 {
        font-size: 42px;
        font-weight: 250;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
      }
    
      @media screen and (max-width: 992px) {
        padding: 20px 0 287px 0;
        h3 {
          font-size: 24px;
          font-weight: 250;
          line-height: 29px;
        }
      }
      @media screen and (max-width: 420px) {
        height: 336px;
        background-image: url("../../img/adv-top-bg-mob.png");
      }
    }
    .page-advantages__bottom {
      border-top: 0.5px solid #ffffff24;
      background-image: url("../../img/adv-bottom-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
    
      @media screen and (max-width: 420px) {
        border-top: 0.5px solid transparent;
        margin-top: -80px;
        background-color: transparent;
        background-image: none;
      }
      @media screen and (max-width: 360px) {
        margin-top: -105px;
      }
    }
    .page-advantages__boxes {
      display: flex;
    
      @media screen and (max-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 10px;
      }
    }
    .page-advantages-box {
      padding: 56px 10px 62px 25px;
      width: 100%;
    
      &:not(:nth-child(5)) {
        border-right: 0.5px solid #ffffff24;
      }
    
      h3 {
        font-size: 40px;
        font-weight: 250;
        line-height: 48px;
        color: #e1c98a;
        margin-top: 10px;
      }
      p {
        max-width: 163px;
        font-family: Geometria;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
      }
      &:last-child {
        display: none;
        border-right: transparent;
      }
    
      @media screen and (max-width: 992px) {
        display: flex;
        gap: 10px;
        flex-direction: column;
    
        h3 {
          margin-top: 0;
          order: 1;
          text-shadow: 0px 0px 0px #e1c98a, 0 1rem 1em #e1c98a, 0 0 0.001em #e1c98a;
        }
        p {
          order: 2;
        }
        &:last-child {
          display: flex;
          justify-content: center;
        }
        &:not(:first-child, :nth-child(2)) {
          border-top: 1px solid #ffffff24;
        }
        &:nth-child(5) {
          border-right: 0.5px solid #ffffff24;
        }
        &:nth-child(2),
        &:nth-child(4) {
          border-right: transparent;
        }
    
        border-bottom: 1px solid #ffffff24;
      }
      @media screen and (max-width: 420px) {
        padding: 38px 10px 20px 14px;
    
        h3 {
          font-size: 25px;
          font-weight: 250;
          line-height: 30px;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }
    
    // page-catalog
    
    .page-catalog {
      width: 100%;
      background-color: #040404;
      margin-bottom: 0;
    }
    .page-catalog__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 77px 0 86px 0;
      // border: transparent;
    
      h2 {
        font-size: clamp(1.5rem, 1.258rem + 1.139vw, 2.625rem);
        font-weight: 250;
        line-height: clamp(1.75rem, 1.454rem + 1.392vw, 3.125rem);
        color: #fff;
        max-width: 523px;
        margin: 0 auto;
      }
      @media screen and (max-width: 767px) {
        padding: 50px 0;
      }
    }
    .page-catalog__sub-box {
      margin-top: 30px;
      display: flex;
      gap: 18px;
      align-items: center;
      max-width: 770px;
      color: #fff;
    
      @media screen and (max-width: 767px) {
        flex-direction: column;
        margin-top: 13px;
        gap: 10px;
      }
    }
    .sub-left {
      display: flex;
      gap: 15px;
      align-items: flex-start;
      p {
        text-align: left;
        font-family: Geometria;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    
        @media screen and (max-width: 767px) {
          text-align: center;
          padding: 0 20px;
          font-size: 14px;
          line-height: 21px;
        }
      }
      img {
        margin-top: 5px;
      }
    
      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4px;
      }
    }
    .sub-right {
      display: flex;
      gap: 5px;
      padding-left: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
      background-image: url("../../img/yellow-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
    
      p {
        font-family: Geometria;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #888;
      }
    
      span {
        font-family: Geometria;
        font-size: 27px;
        font-weight: 400;
        line-height: 22px;
        color: #e1c98a;
      }
      @media screen and (max-width: 767px) {
        background: none;
        padding-left: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 80%;
      }
    }
    
    .page-catalog__items {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 25px;
      column-gap: 17px;
      margin-top: 82px;
    
      h3 {
        // font-size: 35px;
    
        font-size: clamp(1.125rem, 0.877rem + 1.1vw, 2.188rem);
    
        font-weight: 250;
        line-height: 42px;
        color: #fff;
      }
      @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        margin-top: 22px;
      }
    }
    
    // page-consultation 
    
    .page-consultation {
      width: 100%;
      background-color: #000;
    }
    .page-consultation__inner {
      max-width: 1400px;
      background-color: #040404;
      margin: 0 auto;
      padding: 0 120px 70px 120px;
    
      @media screen and (max-width: 1400px) {
        padding: 0 30px 70px 30px;
      }
      @media screen and (max-width: 920px) {
        padding-bottom: 0;
      }
      @media screen and (max-width: 500px) {
        padding: 0 14px 0 14px;
      }
    }
    .page-consultation__inner .consultation-box__inner {
      background-image: url("../../img/consultation-page-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 15px;
    
      @media screen and (max-width: 992px) {
       border: 1px solid #FFFFFF82;
      }
      @media screen and (max-width: 600px) {
         background-image: url("../../img/consultation-page-bg-2.png");
       }
    }
    
    // page-benefits
    
    .page-benefints {
      max-width: 1400px;
      margin: 0 auto;
      background-color: #040404;
      padding-top: 47px;
      padding-bottom: 117px;
      @media screen and (max-width: 860px) {
        padding-top: 80px;
        padding-bottom: 34px;
      }
    }
    .page-benefints__inner {
      display: flex;
      gap: 30px;
      @media screen and (max-width: 860px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .page-benefints__inner-left {
      max-width: 566px;
      padding-top: 25px;
      position: relative;
    
      @media screen and (max-width: 860px) {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
      }
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
    .page-benefints__inner-left::after {
      position: absolute;
      content: "";
      width: 284px;
      height: 194px;
      background-image: url("../../img/benefit-page-absolute-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      bottom: -41px;
      left: 110%;
      transform: translateX(-50%);
    
      @media screen and (max-width: 1580px) {
        left: 115%;
      }
    
      @media screen and (max-width: 1350px) {
        display: none;
      }
    }
    .page-benefints__title {
      font-size: clamp(1.5rem, 1.24rem + 1.154vw, 2.625rem);
      font-weight: 250;
      line-height: clamp(1.8rem, 1.488rem + 1.385vw, 3.15rem);
      text-align: left;
      color: #fff;
      margin-bottom: 35px;
    
      @media screen and (max-width: 860px) {
        text-align: center;
        margin-bottom: 0;
      }
    }
    .page-benefints__subtitle {
      font-family: Geometria;
      margin-top: 30px;
      max-width: 442px;
      font-size: clamp(0.875rem, 0.817rem + 0.256vw, 1.125rem);
      font-weight: 400;
      line-height: clamp(1.125rem, 0.981rem + 0.641vw, 1.75rem);
      text-align: left;
      color: #fff;
    
      @media screen and (max-width: 860px) {
        text-align: center;
        margin-top: 22px;
      }
    }
    .page-benefints__sub-box {
      margin-top: 30px;
      max-width: 422px;
      padding: 26px 36px 26px 25px;
      font-family: Geometria;
      font-size: clamp(0.75rem, 0.721rem + 0.128vw, 0.875rem);
      font-weight: 400;
      line-height: clamp(0.975rem, 0.887rem + 0.391vw, 1.356rem);
      text-align: left;
    
      color: #888888;
      background-image: url("../../img/benefits-page-left-box-img.png");
    
      @media screen and (max-width: 860px) {
        display: none;
      }
    }
    
    .page-benefints__inner-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
    
      @media screen and (max-width: 860px) {
        align-items: center;
      }
    }
    // .page-benefints__right-box {
      
    // }
    .page-benefints__right-box img{
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }
    
    .page-benefints__right-text {
      display: flex;
      gap: 15px;
      align-items: start;
      margin-top: 30px;
      @media screen and (max-width: 860px) {
        flex-direction: column;
        align-items: center;
        margin-top: 38px;
        gap: 7px;
      }
    }
    
    .page-benefints__right-text p {
      font-family: Geometria;
      font-size: clamp(0.875rem, 0.817rem + 0.256vw, 1.125rem);
      font-weight: 400;
      line-height: clamp(1.125rem, 0.981rem + 0.641vw, 1.75rem);
      text-align: left;
      color: #fff;
      max-width: 370px;
      @media screen and (max-width: 860px) {
        text-align: center;
      }
    }
    
    .page-benefints__right-text img{
      margin-top: 7px;
    }
    
    // page-requirement 
    
    .page-requirement {
      background-image: url("../../img/requirement-page-bg-img.png"), url("../../img/requirement-bg-2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      padding: 110px 0 172px 0;
    
      @media screen and (max-width: 600px) {
        padding: 42px 0 260px 0;
        background-image: url("../../img/req-mob-bottom.png"), url("../../img/req-mob-top.png");
        background-position: bottom, top;
      }
    }
    .page-requirement .container {
      display: flex;
      justify-content: end;
    
      @media screen and (max-width: 992px) {
        justify-content: center;
      }
    }
    .page-requirement__inner {
      display: flex;
      flex-direction: column;
    
      @media screen and (max-width: 992px) {
        align-items: center;
      }
    }
    
    .page-requirement__title {
      font-size: clamp(1.5rem, 1.24rem + 1.154vw, 2.625rem);
      font-weight: 250;
      line-height: clamp(1.8rem, 1.488rem + 1.385vw, 3.15rem);
      text-align: left;
      color: #fff;
    
      max-width: 520px;
      margin-bottom: 51px;
    
      @media screen and (max-width: 992px) {
        text-align: center;
      }
      @media screen and (max-width: 600px) {
        margin-bottom: 18px;
      }
    }
    
    .page-requirement__boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 23px;
      column-gap: 20px;
      max-width: 722px;
    
      @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
      }
    }
    
    
    
    // page-rent 
    
    .page-rent {
      background-color: #040404;
    }
    .page-rent__inner {
      max-width: 1400px;
      background-color: #040404;
      margin: 0 auto;
      padding: 0 120px 70px 120px;
    
      @media screen and (max-width: 1400px) {
        padding: 0 30px 70px 30px;
      }
      @media screen and (max-width: 500px) {
        padding: 0 14px 42px 14px;
      }
    }
    
    .page-rent__inner .consultation-box__inner {
      background-image: url("../../img/page-rent-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 15px;
    
      @media screen and (max-width: 992px) {
        border: 1px solid #FFFFFF82;
       }
       @media screen and (max-width: 600px) {
          background-image: url("../../img/page-rent-img-2.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
    }
    
    // page-questions
      
    .page-questions {
      width: 100%;
      height: auto;
      background-image: url("../../img/page-ques-phone.png"),url("../../img/page-ques-bg.png");
      background-position: top, center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 48px 0 56px 0;
    }
    
    .page-questions__container {
      max-width: 1215px;
      padding: 0 30px;
      margin: 0 auto;
    
      // background-image: ;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;

      display: flex;
    }
    
    .page-questions__left {
      width: 50%;
    }
    
    .page-questions__title {
      max-width: 213px;
      font-size: clamp(1.5rem, 1.24rem + 1.154vw, 2.625rem);
      font-weight: 250;
      line-height: clamp(1.8rem, 1.488rem + 1.385vw, 3.15rem);
      text-align: left;
      color: #fff;
    
      margin-bottom: 25px;
    }
    
    .page-questions__subtitle {
      max-width: 262px;
      font-family: Geometria;
      font-size: clamp(0.875rem, 0.846rem + 0.128vw, 1rem);
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #fff;
    
      margin-bottom: 43px;
    }

    .page-questions__subtitle span {
      color: #E1C98A;
    }

    .page-questions__right {
      width: 50%;
    }