@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TurismoCF;
  font-display: swap;
  src: url("../fonts/TurismoCF-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: TurismoCF;
  font-display: swap;
  src: url("../fonts/TurismoCF-DemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TurismoCF;
  font-display: swap;
  src: url("../fonts/TurismoCF-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: TurismoCF;
  font-display: swap;
  src: url("../fonts/TurismoCF-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: TurismoCF;
  font-display: swap;
  src: url("../fonts/TurismoCF-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: TurismoCF;
  font-display: swap;
  src: url("../fonts/TurismoCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TurismoCF;
  font-display: swap;
  src: url("../fonts/TurismoCF-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
