@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: TurismoCF;
  background: #020305;


  @media screen and (max-width: 992px) {
    &.lock {
      overflow: hidden;
    }
  }
}