@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: TurismoCF;
  background: #020305;


  @media screen and (max-width: 992px) {
    &.lock {
      overflow: hidden;
    }
  }
}

// header

.container {
  max-width: 1215px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 18px 30px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header__logo {
  @media screen and (max-width: 992px) {
    order: 3;
  }
  @media screen and (max-width: 480px) {
    transform: scale(0.93);
  }
}
.header__clock {
  font-family: Geometria;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: #fff;

  @media screen and (max-width: 992px) {
    order: 2;
  }

  @media screen and (max-width: 480px) {
    font-size: 14px;
    line-height: 18px;
  }
}
.header__nav {
  align-items: center;
  display: flex;
  gap: 100px;

  @media screen and (max-width: 1200px) {
    gap: 50px;
  }

  @media screen and (max-width: 992px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: all 0.4s ease;
    width: 100%;

    &.active {
      transform: translateX(0);
    }
  }
}

.nav-head__ul {
  align-items: center;
  display: flex;
  gap: 61px;

  @media screen and (max-width: 1200px) {
    gap: 30px;
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
    gap: 20px;
  }
}
.nav-head__li {
  cursor: pointer;
}
.nav-head__link {
  font-family: Geometria;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #4d4d4d;
}
.nav__prime-link {
  align-items: center;
  display: flex;
  gap: 12px;
  color: #e1c98a;
  font-size: 11px;
  font-weight: 800;
  line-height: 13px;
  letter-spacing: 0.15em;
  position: relative;

  &::after {
    width: 88%;
    position: absolute;
    height: 1px;
    background-color: #e1c98a;
    content: "";
    bottom: -1px;
    right: 0;
  }
}

// header-burger-btn

.header-burger-btn {
  margin-top: -5px;
  width: 25px;
  height: 14px;
  border: none;
  position: relative;
  display: none;
  background-color: transparent;

  @media screen and (max-width: 992px) {
    display: block;
    z-index: 9999;
    margin-right: 20px;
    user-select: none;
    outline: none;
  }

  @media screen and (max-width: 480px) {
    margin-right: 10px;
  }

  &.active {
    position: fixed;
    left: 30px;

    & span:nth-child(2) {
      opacity: 0;
    }

    & span:nth-child(1) {
      transform: translateY(-50%) rotate(45deg);
    }

    & span:nth-child(3) {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  & span:nth-child(1) {
    transform: translateY(-7px);
  }

  & span:nth-child(3) {
    transform: translateY(7px);
  }

  & span {
    position: absolute;
    width: 25px;
    height: 1px;
    border-radius: 1px;
    background-color: #fff;
    left: 0px;
    transition: all 0.4s ease;
  }
}

// first-page

.first-page {
  height: 100vh;
  background-image: url(../img/main-bg-car.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 420px) {
    background-image: url("../img/mobile-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position-y: 115%;
    background-size: contain;
    background-color: #000;
    height: 100%;
  }
}
.first-page__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 100px;

  @media screen and (max-width: 992px) {
    justify-content: center;
    text-align: center;
  }

  @media screen and (max-width: 420px) {
    padding-top: 100px;
    padding-bottom: 272px;
  }
}
.first-page__left {
  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }
  @media screen and (max-width: 420px) {
    align-items: flex-start;
  }
}
.first-page__suptitle {
  font-family: Geometria;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 14px;

  @media screen and (max-width: 992px) {
    text-align: center;
  }
  @media screen and (max-width: 420px) {
    text-align: left;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
  }
}
.first-page__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 520px;
  font-size: 50px;
  font-weight: 250;
  line-height: 60px;
  color: #fff;
  margin-bottom: 23px;

  .small-img {
    display: none;

    @media screen and (max-width: 992px) {
      display: block;
      margin-left: 16px;
      width: min-content;
      height: min-content;
    }
  }

  .title-box {
    display: flex;
    width: fit-content;

    span {
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #4d4d4d;
      background-color: #0e0e0e;
      border-radius: 50%;

      &:not(:first-child) {
        margin-left: -12px;
      }
      &:first-child {
        margin-left: 12px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    justify-content: center;
    text-align: center;

    font-size: 37px;
    font-weight: 250;
    line-height: 45px;

    .title-box {
      justify-content: center;
      align-items: center;
      span {
        display: none;
      }
    }
  }
  @media screen and (max-width: 420px) {
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 38px;
  }
}
.first-page__subtitle {
  font-size: 24px;
  font-weight: 250;
  line-height: 29px;
  display: flex;
  gap: 16px;
  color: #fff;
  margin-bottom: 60px;

  @media screen and (max-width: 420px) {
    margin-bottom: 33px;
    line-height: 20px;
    gap: 10px;
  }
}
.first-page__btn {
  font-family: TurismoCF;
  letter-spacing: 0.15em;
  font-size: 11px;
  font-weight: 800;
  line-height: 13px;
  color: #000;
  background-color: #e1c98a;
  padding: 28px 66px;
  border-radius: 136px;
  outline: none;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;

  @media screen and (max-width: 420px) {
    justify-self: center;
    font-size: 10px;
    line-height: 12px;
  }
}
.first-page__vector {
  font-family: Geometria;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #4d4d4d;

  p {
    max-width: 191px;
  }

  span {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 36px 16px;
    border: 1px solid #4d4d4d;
    border-radius: 100px;
  }

  @media screen and (max-width: 420px) {
    display: none;
  }
}
.first-page__right {
  display: flex;
  gap: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 250;
    line-height: 19px;
    letter-spacing: 0.1em;
    display: flex;
    gap: 10px;
    color: #fff;

    p {
      border-bottom: 1px solid #fff;
    }
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

// text-page video-page

.text-page {
  width: 100%;
  height: 96px;
  background-color: #000;
  background-image: url("../img/bg-img-text.png");
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 992px) {
    height: 48px;
    background-position: top left;
  }
  @media screen and (max-width: 420px) {
    background-image: url("../img/bg-img-text-mob.png");
    background-position: top left;
    background-size: cover;
  }
}
.video-page {
  background-color: #000;
}
.video-page__inner {
  background-image: url("../img/video-page-img-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px 30px 0 0;
  padding: 200px 0;
  font-size: 70px;
  font-weight: 250;
  line-height: 84px;
  color: #e1c98a;
  text-align: center;
  display: flex;
  justify-content: center;

  p {
    max-width: 430px;
    @media screen and (max-width: 420px) {
      font-size: 20px;
      font-weight: 250;
      line-height: 24px;
      max-width: 110px;
    }
  }

  @media screen and (max-width: 992px) {
    padding: 100px 0;
  }
  @media screen and (max-width: 420px) {
    padding: 100px 0 40px 0;
    background-position: center;
    background-size: cover;
    // background-image: url("@img/video-page-img-bg-mob.png");
    margin-top: -17px;
  }
}

// advantages-page

.page-advantages {
  width: 100%;
  padding-bottom: 40px;
  background-color: #000;
}
.page-advantages__inner {
  display: flex;
  flex-direction: column;
}
.page-advantages__top {
  color: #fff;
  padding: 80px 0 410px 0;
  text-align: center;
  background-image: url("../img/adv-page-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  h3 {
    font-size: 42px;
    font-weight: 250;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
  }

  @media screen and (max-width: 992px) {
    padding: 20px 0 287px 0;
    h3 {
      font-size: 24px;
      font-weight: 250;
      line-height: 29px;
    }
  }
  @media screen and (max-width: 420px) {
    height: 336px;
    background-image: url("../img/adv-top-bg-mob.png");
  }
}
.page-advantages__bottom {
  border-top: 0.5px solid #ffffff24;
  background-image: url("../img/adv-bottom-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 420px) {
    border-top: 0.5px solid transparent;
    margin-top: -80px;
    background-color: transparent;
    background-image: none;
  }
  @media screen and (max-width: 360px) {
    margin-top: -105px;
  }
}
.page-advantages__boxes {
  display: flex;

  @media screen and (max-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
  }
}
.page-advantages-box {
  padding: 56px 10px 62px 25px;
  width: 100%;

  &:not(:nth-child(5)) {
    border-right: 0.5px solid #ffffff24;
  }

  h3 {
    font-size: 40px;
    font-weight: 250;
    line-height: 48px;
    color: #e1c98a;
    margin-top: 10px;
  }
  p {
    max-width: 163px;
    font-family: Geometria;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  &:last-child {
    display: none;
    border-right: transparent;
  }

  @media screen and (max-width: 992px) {
    display: flex;
    gap: 10px;
    flex-direction: column;

    h3 {
      margin-top: 0;
      order: 1;
      text-shadow: 0px 0px 0px #e1c98a, 0 1rem 1em #e1c98a, 0 0 0.001em #e1c98a;
    }
    p {
      order: 2;
    }
    &:last-child {
      display: flex;
      justify-content: center;
    }
    &:not(:first-child, :nth-child(2)) {
      border-top: 1px solid #ffffff24;
    }
    &:nth-child(5) {
      border-right: 0.5px solid #ffffff24;
    }
    &:nth-child(2),
    &:nth-child(4) {
      border-right: transparent;
    }

    border-bottom: 1px solid #ffffff24;
  }
  @media screen and (max-width: 420px) {
    padding: 38px 10px 20px 14px;

    h3 {
      font-size: 25px;
      font-weight: 250;
      line-height: 30px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}

// page-catalog

.page-catalog {
  width: 100%;
  background-color: #040404;
  margin-bottom: 0;
}
.page-catalog__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 77px 0 86px 0;
  // border: transparent;

  h2 {
    font-size: clamp(1.5rem, 1.258rem + 1.139vw, 2.625rem);
    font-weight: 250;
    line-height: clamp(1.75rem, 1.454rem + 1.392vw, 3.125rem);
    color: #fff;
    max-width: 523px;
    margin: 0 auto;
  }
  @media screen and (max-width: 767px) {
    padding: 50px 0;
  }
}
.page-catalog__sub-box {
  margin-top: 30px;
  display: flex;
  gap: 18px;
  align-items: center;
  max-width: 770px;
  color: #fff;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-top: 13px;
    gap: 10px;
  }
}
.sub-left {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  p {
    text-align: left;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    @media screen and (max-width: 767px) {
      text-align: center;
      padding: 0 20px;
      font-size: 14px;
      line-height: 21px;
    }
  }
  img {
    margin-top: 5px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
  }
}
.sub-right {
  display: flex;
  gap: 5px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  background-image: url("../img/yellow-bg.png");
  background-repeat: no-repeat;
  background-size: contain;

  p {
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #888;
  }

  span {
    font-family: Geometria;
    font-size: 27px;
    font-weight: 400;
    line-height: 22px;
    color: #e1c98a;
  }
  @media screen and (max-width: 767px) {
    background: none;
    padding-left: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
  }
}

.page-catalog__items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 17px;
  margin-top: 82px;

  h3 {
    // font-size: 35px;

    font-size: clamp(1.125rem, 0.877rem + 1.1vw, 2.188rem);

    font-weight: 250;
    line-height: 42px;
    color: #fff;
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    margin-top: 22px;
  }
}

.page-catalog__item {
  display: flex;
  gap: 5px;
  padding: 260px 46px 58px 46px;
  border-radius: 34px;
  background-color: #4d4d4d;

  &:nth-child(1) {
    background-image: url("../img/catalog-1.png");
  }
  &:nth-child(2) {
    background-image: url("../img/catalog-2.png");
  }
  &:nth-child(3) {
    background-image: url("../img/catalog-3.png");
  }
  &:nth-child(4) {
    background-image: url("../img/catalog-4.png");
  }
  &:nth-child(5) {
    background-image: url("../img/catalog-5.png");
  }
  &:nth-child(6) {
    background-image: url("../img/catalog-6.png");
  }
  &:nth-child(7) {
    background-image: url("../img/catalog-7.png");
  }
  &:nth-child(8) {
    background-image: url("../img/catalog-8.png");
  }

  background-repeat: no-repeat;
  background-size: cover;


  @media screen and (max-width: 767px) {
    display: flex;
    gap: 10px;
    padding: 173px 46px 21px 17px;
    border-radius: 34px;
    background-color: #4d4d4d;
    background-position: right;
  }
}

// page-consultation 

.page-consultation {
  width: 100%;
  background-color: #000;
}
.page-consultation__inner {
  max-width: 1400px;
  background-color: #040404;
  margin: 0 auto;
  padding: 0 120px 70px 120px;

  @media screen and (max-width: 1400px) {
    padding: 0 30px 70px 30px;
  }
  @media screen and (max-width: 920px) {
    padding-bottom: 0;
  }
  @media screen and (max-width: 500px) {
    padding: 0 14px 0 14px;
  }
}
.page-consultation__inner .consultation-box__inner {
  background-image: url("./../img/consultation-page-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;

  @media screen and (max-width: 992px) {
   border: 1px solid #FFFFFF82;
  }
  @media screen and (max-width: 600px) {
     background-image: url("./../img/consultation-page-bg-2.png");
   }
}

.consultation-box__inner {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: start;
  }
}

.consultation-box__left {
  padding: 83px 0 96px 70px;
  color: #fff;
  max-width: 510px;

  @media screen and (max-width: 992px) {
    max-width: 100%;
  //  padding: 22px 16px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 600px) {
    padding: 22px 16px;
  }
}
.consultation-box__left-subtitles {
  display: flex;
  flex-direction: column;
  gap: 13px;
  @media screen and (max-width: 992px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 420px) {
    row-gap: 5px;
    column-gap: 17px;
  }
}


.consultation-box__left-title {
  font-size: clamp(1.25rem, 0.933rem + 1.41vw, 2.625rem);
  font-weight: 250;
  line-height: clamp(1.625rem, 1.279rem + 1.538vw, 3.125rem);
  text-align: left;
  margin-bottom: 22px;
}

.consultation-box__left-subtitle {
  display: flex;
  gap: 15px;
}
.consultation-box__left-subtitle p {
  font-family: Geometria;
  font-size: clamp(0.875rem, 0.817rem + 0.256vw, 1.125rem);
  font-weight: 400;
  line-height: clamp(1.375rem, 1.361rem + 0.064vw, 1.438rem);
  text-align: left;

}

.consultation-box__right {
  border-radius: 20px;
  border-top-left-radius: 60px;
  background: linear-gradient(211.35deg, #121212 18.93%, #000000 100.58%);
  max-width: 486px;
  max-height: 447px;
  width: 100%;
  height: 100%;
  padding: 56px;
  

  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 999999;

  @media screen and (max-width: 1120px) {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: auto;
  }
  @media screen and (max-width: 992px) {
    align-self: center;
    margin-bottom: 20px;
    border-radius: 10px;
  border-top-left-radius: 30px;
  }
  @media screen and (max-width: 500px) {
    padding: 0 16px 25px 16px;
    margin-bottom: 0px;
    background: transparent;
  }
}

.consultation-box__right-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-family: Geometria;
  font-size: clamp(0.875rem, 0.846rem + 0.128vw, 1rem);
}

.consultation-box__right-input {
  background-color: #202020;
  padding: 25px;
  outline: none;
  border: 1px solid transparent;
  color: #fff;

  @media screen and (max-width: 500px) {
    border-radius: 10px;
    padding: 21px;
  }
}
// .consultation-box__right-phone {
//   background-color: #202020;
//   padding: 15px;
//   outline: none;
//   border: 1px solid transparent;
//   color: #fff;

//   @media screen and (max-width: 500px) {
//     border-radius: 10px;
//     padding: 11px;
//   }
// }

.consultation-box__right-input:focus,
.consultation-box__right-phone:focus {
  border:  1px solid  #E1C98A;
  transition: all ease .4s;
}

.consultation-box__right-btn {
  margin-top: 22px;
  box-shadow: 0px 14px 48px 0px #E1C98A40;
  background-color: #E1C98A;
  font-family: TurismoCF;
  color: #000;
  font-size: clamp(0.563rem, 0.534rem + 0.128vw, 0.688rem);
  font-weight: 800;
  line-height: clamp(0.625rem, 0.582rem + 0.192vw, 0.813rem);
  letter-spacing: 0.15em;
  padding: 28px 0;
  outline: none;
  border: none;
  border-radius: 136px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

// page-benefits

.page-benefints {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #040404;
  padding-top: 47px;
  padding-bottom: 117px;
  @media screen and (max-width: 860px) {
    padding-top: 80px;
    padding-bottom: 34px;
  }
}
.page-benefints__inner {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 860px) {
    flex-direction: column;
    align-items: center;
  }
}
.page-benefints__inner-left {
  max-width: 566px;
  padding-top: 25px;
  position: relative;

  @media screen and (max-width: 860px) {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}
.page-benefints__inner-left::after {
  position: absolute;
  content: "";
  width: 284px;
  height: 194px;
  background-image: url("../img/benefit-page-absolute-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -41px;
  left: 110%;
  transform: translateX(-50%);

  @media screen and (max-width: 1580px) {
    left: 115%;
  }

  @media screen and (max-width: 1350px) {
    display: none;
  }
}
.page-benefints__title {
  font-size: clamp(1.5rem, 1.24rem + 1.154vw, 2.625rem);
  font-weight: 250;
  line-height: clamp(1.8rem, 1.488rem + 1.385vw, 3.15rem);
  text-align: left;
  color: #fff;
  margin-bottom: 35px;

  @media screen and (max-width: 860px) {
    text-align: center;
    margin-bottom: 0;
  }
}
.page-benefints__subtitle {
  font-family: Geometria;
  margin-top: 30px;
  max-width: 442px;
  font-size: clamp(0.875rem, 0.817rem + 0.256vw, 1.125rem);
  font-weight: 400;
  line-height: clamp(1.125rem, 0.981rem + 0.641vw, 1.75rem);
  text-align: left;
  color: #fff;

  @media screen and (max-width: 860px) {
    text-align: center;
    margin-top: 22px;
  }
}
.page-benefints__sub-box {
  margin-top: 30px;
  max-width: 422px;
  padding: 26px 36px 26px 25px;
  font-family: Geometria;
  font-size: clamp(0.75rem, 0.721rem + 0.128vw, 0.875rem);
  font-weight: 400;
  line-height: clamp(0.975rem, 0.887rem + 0.391vw, 1.356rem);
  text-align: left;

  color: #888888;
  background-image: url("../img/benefits-page-left-box-img.png");

  @media screen and (max-width: 860px) {
    display: none;
  }
}

.page-benefints__inner-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;

  @media screen and (max-width: 860px) {
    align-items: center;
  }
}
.page-benefints__right-box {
  
}
.page-benefints__right-box img{
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.page-benefints__right-text {
  display: flex;
  gap: 15px;
  align-items: start;
  margin-top: 30px;
  @media screen and (max-width: 860px) {
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    gap: 7px;
  }
}

.page-benefints__right-text p {
  font-family: Geometria;
  font-size: clamp(0.875rem, 0.817rem + 0.256vw, 1.125rem);
  font-weight: 400;
  line-height: clamp(1.125rem, 0.981rem + 0.641vw, 1.75rem);
  text-align: left;
  color: #fff;
  max-width: 370px;
  @media screen and (max-width: 860px) {
    text-align: center;
  }
}

.page-benefints__right-text img{
  margin-top: 7px;
}

// page-requirement 

.page-requirement {
  background-image: url("../img/requirement-page-bg-img.png"), url("../img/requirement-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 110px 0 172px 0;

  @media screen and (max-width: 600px) {
    padding: 42px 0 260px 0;
    background-image: url("../img/req-mob-bottom.png"), url("../img/req-mob-top.png");
    background-position: bottom, top;
  }
}
.page-requirement .container {
  display: flex;
  justify-content: end;

  @media screen and (max-width: 992px) {
    justify-content: center;
  }
}
.page-requirement__inner {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 992px) {
    align-items: center;
  }
}

.page-requirement__title {
  font-size: clamp(1.5rem, 1.24rem + 1.154vw, 2.625rem);
  font-weight: 250;
  line-height: clamp(1.8rem, 1.488rem + 1.385vw, 3.15rem);
  text-align: left;
  color: #fff;

  max-width: 520px;
  margin-bottom: 51px;

  @media screen and (max-width: 992px) {
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    margin-bottom: 18px;
  }
}

.page-requirement__boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 23px;
  column-gap: 20px;
  max-width: 722px;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }
}

.page-requirement__box {
  max-width: 351px;
  height: 155px;
  padding-left: 163px;
  padding-right: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  @media screen and (max-width: 600px) {
    max-width: 351px;
    height: 96px;
    padding-left: 165px!important;
    padding-right: 15px;
    border: 1px solid #272727;
  }
  @media screen and (max-width: 400px) {
    padding-left: 155px!important;
  }
}

.page-requirement__box p {
  font-family: Geometria;
  font-size: clamp(0.875rem, 0.817rem + 0.256vw, 1.125rem);
  font-weight: 500;
  line-height: clamp(1.137rem, 1.063rem + 0.333vw, 1.462rem);
  text-align: left;
  color: #fff;
}
.page-requirement__box:last-child p {
  color: #524931;
}
.page-requirement__box:nth-child(1) {
  background-image:  url("../img/requirement-1.png"), url("../img/requirement-1-1.png");

  @media screen and (max-width: 600px) {
    background-image:  url("../img/req-1.png"), url("../img/requirement-1-1.png");
  }
}
.page-requirement__box:nth-child(2) {
  background-image:  url("../img/requirement-2.png"), url("../img/requirement-1-1.png");
  padding-left: 181px;

  @media screen and (max-width: 600px) {
    background-image:  url("../img/req-2.png"), url("../img/requirement-1-1.png");
  }
}
.page-requirement__box:nth-child(3) {
  background-image:  url("../img/requirement-3.png"), url("../img/requirement-1-1.png");

  @media screen and (max-width: 600px) {
    background-image:  url("../img/req-3.png"), url("../img/requirement-1-1.png");
  }
}
.page-requirement__box:nth-child(4) {
  background-image:  url("../img/requirement-4.png");
  box-shadow: 0px 4px 262px 0px #E0C98A45;
  background-color: #E1C98A;
  border: 1px solid #0203054D;
  padding-left: 181px;

  @media screen and (max-width: 600px) {
    background-image:  url("../img/req-4.png");
  }
}











// page-rent 

.page-rent {
  background-color: #040404;
}
.page-rent__inner {
  max-width: 1400px;
  background-color: #040404;
  margin: 0 auto;
  padding: 0 120px 70px 120px;

  @media screen and (max-width: 1400px) {
    padding: 0 30px 70px 30px;
  }
  @media screen and (max-width: 500px) {
    padding: 0 14px 42px 14px;
  }
}

.page-rent__inner .consultation-box__inner {
  background-image: url("../img/page-rent-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;

  @media screen and (max-width: 992px) {
    border: 1px solid #FFFFFF82;
   }
   @media screen and (max-width: 600px) {
      background-image: url("../img/page-rent-img-2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
}

// page-footer

.footer {
  background-color: #020305;
  padding-top: 47px;
  padding-bottom: 63px;

  @media screen and (max-width: 600px) {
    padding-top: 56px;
    padding-bottom: 28px;
  }
  position: relative;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
      'top-left top-left top-left top-right top-right top-right'
      'logo logo logo address address btn'
      'info info info nav nav nav'
  ;
  row-gap: 32px;
  column-gap: 20px;

  @media screen and (max-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'top-left top-left'
        'address address'
        'top-right top-right'
        'logo btn'
        'nav nav'
        'info info'
    ;
  }
  @media screen and (max-width: 600px) {
    grid-template-areas: 
    'top-left top-left'
    'address address'
    'top-right top-right'
    'logo logo'
    'nav nav'
    'btn btn'
    'info info'
;
    row-gap: 30px;
  }
  @media screen and (max-width: 420px) {
    padding-top: 580px;
;
  }
}
.footer__contacts {
  background-color:  #171717;
  width: 100%;
  border-radius: 15px;
  padding: 30px 36px 33px 40px;
  grid-area: top-left;

  & .footer__contacts-title-span-2 {
    display: none;
  }

  @media screen and (max-width: 420px) {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 30px 30px 30px;
    border-radius: 0;

    & .footer__contacts-title-span {
      display: none;
    }

    & .footer__contacts-title-span-2 {
      display: block;
    }
  }

}
.footer__map {
  max-width: 570px;
  height: auto;
  min-height: 234px;
  border-radius: 15px;

  background: url("./../img/footer-map.png") no-repeat center;
  background-size: cover;

  @media screen and (max-width: 1200px) {
    max-width: 100%;
  }
  grid-area: top-right;

}

.footer__contacts-title {
  color: #fff;
  font-size:  clamp(1.5rem, 1.2579rem + 1.1392vw, 2.625rem);;
  font-weight: 250;
  line-height: clamp(1.75rem, 1.4327rem + 1.4103vw, 3.125rem);;
  text-align: left;
  margin-bottom: 30px;

  @media screen and (max-width: 420px) {
    margin-bottom: 25px;
    padding-top: 28px;

    text-transform: capitalize;
  }
}
.footer__contacts-socials {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  @media screen and (max-width: 420px) {
    display: none;
  }
}

.footer__contacts-socials-min {
  display: flex;
  gap: 7px;
  margin-bottom: 25px;
  display: none;

  @media screen and (max-width: 420px) {
    display: flex;
  }
}

.footer__contacts-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 36px;
  column-gap: 39px;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr)
  }
  @media screen and (max-width: 420px) {
    row-gap: 30px;
  }
}
.footer__contacts-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__contacts-box p {
  color: #888;
  font-family: Geometria;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}

.footer__contacts-box span {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 18.2px;
}

.footer__logo {
  grid-area: logo;
  background-color: #000;
  width: 228px;
  height: 69px;

  @media screen and (max-width: 420px) {
    transform: scale(0.66);
    margin-left: -40px;
    margin-top: 34px;
  }

}

.footer__logo img { 
  width: 228px;
  height: 69px;
}

.footer__address {
  grid-area: address;
  font-family: Geometria;
  font-size: clamp(0.875rem, 0.8173rem + 0.2564vw, 1.125rem);
  font-weight: 400;
  line-height: clamp(1.375rem, 1.2885rem + 0.3846vw, 1.75rem);;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
}

.footer__btn {
  display: flex;
  align-items: center;
  min-width: 182px;
}

.footer__btn a {
  grid-area: btn;
  font-size: clamp(10px, 9.7692px + 0.0641vi, 11px);
  font-weight: 800;
  line-height: 13.2px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #E1C98A;
  text-align: end;
  text-decoration: underline;

  text-underline-offset: 5px;
}
.footer__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Geometria;
  font-size: clamp(0.75rem, 0.6635rem + 0.3846vw, 1.125rem);
  font-weight: 400;
  line-height: clamp(0.9375rem, 0.8365rem + 0.4487vw, 1.375rem);;
  text-align: left;
  color: #A6A6A6;
}

.footer__nav {
  grid-area: nav;
}
.footer__nav-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 11px;
  column-gap: 50px;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;

  @media screen and (max-width: 1200px) {
    column-gap: normal;
  }
  @media screen and (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
  }
}
.footer__nav-link {
  color: #fff;
}